SSO/SSO.WCFService/SSO.WCFService.Test/Service References/Account/Account2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSO.WCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSO.WCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="RegisterRequest">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterRequest" nillable="true" type="tns:RegisterRequest" />
</xs:schema>